# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
node_modules
dist
dist-ssr
*.local
.env
.env.*

# Student Uploads & Photos
/src/uploads_student/*
!/src/uploads_student/.gitkeep
/public/photos/*
!/public/photos/.gitkeep

# Server Data (Security Critical)
/server/data/*.json
/server/temp/*
/server/backups/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PolyOS specific
Polyos/
backup/
*.zip
*.tar.gz
